:root {
  --primary-color: lightgray;
}

.app {
  font-family: 'DM Sans', sans-serif;
  background-color: var(--primary-color);
  min-height: 100vh;
}

.map-container {
  height: 90vh;
  width: 80%;
}