:root {
  --primary-color:#F5F0EF;
  --containers-height: 85vh;
}

.app {
  font-family: 'DM Sans', sans-serif;
  background-color: var(--primary-color);
  min-height: 100vh;
}

.map-container {
  height: var(--containers-height);
  width: 90%;
}

.cards-container {
  height: var(--containers-height);
}

.vehicle-stop-cards {
  background-color: #DBDADA;
  border-width: 5px;
  border-radius: 5%;
}
